
/*
    Laget av Kaisa Lien
 */
.links {
    display: flex;
    align-items: center;
    gap: 10px; /* Add gap between links on large screens */
    position: relative;
}

.barX1 {
    transform: translateY(8px) rotate(45deg);
}

.hideMiddleBar {
    opacity: 0;
}

.barX2 {
    transform: translateY(-8px) rotate(-45deg);
}



.linksContainer {
    display: none; 
}

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 30px;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.links a:hover {
    color: grey;
    opacity: 0.6;
    transition: 0.2s;
}

@media (max-width: 768px) {
    .linksContainer.showOnSmall {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        position: absolute;
        top: 50px; 
        right: 0;
        background-color: rgb(19, 14, 14); 
        padding: 10px;
        border: 1px solid #2b2121; 
        z-index: 50;
    }

    .hamburger {
        display: block; 
    }

    .hamburger.showOnSmall {
        display: block; 
    }

    .hamburger.hideOnLarge {
        display: none;
    }

    .linksContainer.hideOnSmall {
        display: none;
    }
}

@media (min-width: 768px) {
    .linksContainer {
        display: flex; 
        gap: 10px;
    }

    .hamburger {
        display: none;
    }
}
