.links {
    display: flex;
    align-items: center;
    gap: 10px; /* Add gap between links on large screens */
    position: relative;
}

.barX1 {
    transform: translateY(8px) rotate(45deg);
}

.hideMiddleBar {
    opacity: 0;
}

.barX2 {
    transform: translateY(-8px) rotate(-45deg);
}



.linksContainer {
    display: none; /* Initially hide on small screens */
}

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 30px;
    display: none; /* Initially hide on large screens */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.links a:hover {
    color: grey;
    opacity: 0.6;
    transition: 0.2s;
}

@media (max-width: 768px) {
    .linksContainer.showOnSmall {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Add gap between links on small screens */
        position: absolute;
        top: 50px; /* Adjust the top position as needed */
        right: 0;
        background-color: rgb(19, 14, 14); /* Add a background color for better visibility */
        padding: 10px;
        border: 1px solid #2b2121; /* Add border for better visibility */
        z-index: 50;
    }

    .hamburger {
        display: block; /* Show the hamburger icon on small screens */
    }

    .hamburger.showOnSmall {
        display: block; /* Show the hamburger icon on small screens */
    }

    .hamburger.hideOnLarge {
        display: none; /* Hide the hamburger icon on larger screens */
    }

    .linksContainer.hideOnSmall {
        display: none; /* Hide the links on small screens */
    }
}

@media (min-width: 768px) {
    .linksContainer {
        display: flex; /* Show the links on large screens */
        gap: 10px; /* Add gap between links on large screens */
    }

    .hamburger {
        display: none; /* Hide the hamburger icon on large screens */
    }
}
